{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        {{ title }}
    </h1>

    {{ include('admin/partials/category_form.html.twig', { 'form': form, 'category': category }) }}
{% endblock %}
