{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">
        {{ title }}
    </h1>

    {{ include('admin/partials/category_form.html.twig', { 'form': form, 'category': category }) }}

    <div class="text-right">
        <button class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            Новый абзац
        </button>
    </div>
{% endblock %}
