{% extends 'base.html.twig' %}


{% block title %}О компании - {{ parent() }}{% endblock %}

{% block main %}
<div id="page_header">
    <h1>О компании</h1>
</div>

<section class="subsection container">
    <div class="heading">
        <h1 class="h2">«Студия Буржуа» предлагает услуги включающие в себя все работы по частичному ремонту и ремонту "под ключ".</h1>
        <div class="divider"></div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-md-6">
            <p>Мы можем предложить различные варианты, как отделки, так и отдельные виды работ: сантехнические работы, облицовка плиткой, отделочные работы, электромонтажные работы, монтаж потолков, установка сантехприборов. Кроме того у нас в офисах Вы сможете подобрать и приобрести Двери, Плитку, Реечные потолки, Сантехнику, а так же воспользоваться бесплатной услугой по 3D проектированию помещений.</p>
        </div>
        <div class="col-sm-4 col-md-6">
            <img src="http://студия-буржуа.рф/assets/galleries/24/163.jpg" alt="о компании">
        </div>
    </div>
</section>

<section class="subsection container">
    <div class="heading">
        <h1 class="h2">Наше с Вами сотрудничество состоит из следующих этапов:</h1>
        <div class="divider"></div>
    </div>
    <!-- если нет картинки для подсекции -->
    <h3>1. Определение стоимости работ</h3>
    <p>После Вашего звонка, мы выезжаем к Вам для консультации и определения стоимости работ и необходимых материалов. При нашей встрече Вы обсудите с нашим специалистом, какие работы Вы хотели бы провести. Наш сотрудник поможет в тех вопросах, которые вызывают у Вас затруднения и совместными усилиями будет выбран оптимальный вариант. Мы производим замеры и составляем смету.</p>
    <h3>2. Подписание договора</h3>
    <p>После обсуждения сметы (перечня и стоимости работ и материалов), подписывается договор подряда. В договоре устанавливаются сроки работ, приблизительная стоимость, гарантийные обязательства. По Вашему желанию осуществим поставку на объект "черновых" стройматериалов (сухие смеси, клей, провода, сантехнические трубы, гипсокартон).</p>
    <h3>3. Доставка материалов</h3>
    <p>После подписания договора Вы передаете нам ключи, и мы осуществляем доставку необходимых стройматериалов. Мы берем на себя процесс закупки, доставки, погрузочно-разгрузочных работ. В своей работе мы используем материалы только хорошо зарекомендовавших себя зарубежных и российских производителей.</p>
    <h3>4. Ремонтные работы</h3>
    <p>Когда завезен материал, мы приступаем к самому ремонту. Работающие у нас специалисты имеют многолетний опыт работ в отделке квартир. Мы не работаем с рабочими из Молдавии, Таджикистана, Кавказа. В бригадах сложившийся коллектив сотрудников. Нами наработан большой опыт работы. Наши услуги включают в себя весь цикл необходимых работ по ремонту "под ключ":</p>
    <ol>
        <li>Доставим стройматериалы</li>
        <li>Выполним демонтажные работы</li>
        <li>...</li>
    </ol>
    <p>Проводимые нашими специалистами услуги выполняются в четко оговоренные сроки и с соблюдением всех технологий производства строительных работ.</p>
    <h3>5. Приемка-сдача работ</h3>
    <p>После выполнения каждого этапа работ Заказчик принимает его и оплачивает. Окончательный расчет производится после сдачи полностью выполненных работ и отсутствия претензий у заказчика.</p>
    <h3>6. Гарантийное обслуживание</h3>
    <p>На все работы, выполненные нами, устанавливается гарантийный срок 1 год. Данного срока будет достаточно для выявления каких-либо дефектов. В случае их возникновения они будут бесплатно устранены.</p>
    <p>Если Вас заинтересовало наше предложение, Вы можете позвонить нам и получить необходимую консультацию.</p>
</section>
{% endblock %}
