<form>
    <div class="row">
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Имя"></input>
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Номер телефона"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Адрес"></input>
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="text" placeholder="Email"></input>
        </div>
    </div>
    <textarea class="form-control" placeholder="Комментарий"></textarea>
    <button type="submit" class="btn btn-danger btn-block">Подтвердить</button>
</form>
