{% extends 'base.html.twig' %}

{% block title %}Цены - {{ parent() }}{% endblock %}

{% block main %}
    <div id="page_header">
        <h1>Цены</h1>
    </div>

    {% for price in prices %}
        <h2>{{ price.title }}</h2>
        <a href="{{ vich_uploader_asset(price.photo, 'file') }}" target="_blank">
            Скачать
        </a>
    {% endfor %}
{% endblock %}
