<form>
    <fieldset>
        <legend>Форма для редактирования {{ object.title }}</legend>
        <div class="form-group">
            <label for="one">Раз</label>
            <input name="one" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="two">Два</label>
            <input name="two" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="three">Три</label>
            <input name="three" type="text" class="form-control">
        </div>
    </fieldset>
</form>
