body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;

  main {
    #new_entity_link {
      margin-bottom: 20px;
    }

    .subsection {
      max-width: 100%;
    }

    .list-group-item {
      .entity_header {
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
        margin: 15px 5px 25px 5px;

        .archive_link, .restore_link {
          padding-top: 3px;
        }
      }

      .entity_body {
        margin: 20px 5px 10px 5px;

        .btn {
          margin-bottom: 5px;
        }
      }
    }

    #real_contact_form {
      display: none;
    }

    .nav-justified {
      margin-bottom: 40px;
    }

    form div {
      margin-bottom: 15px;
    }

    .section_description {
      textarea {
        min-height: 300px;
      }
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
      .list-group-item {
        .entity_header {
          margin: 15px 20px 25px 20px;
        }
        
        .entity_body {
          margin: 20px 20px 10px 20px;
        }
      }
    }
  }
}
