main {
  #new_entity_link {
    margin-bottom: 20px;
  }

  .list-group-item {
    .entity_header {
      border-bottom: 1px solid #eee;
      padding-bottom: 20px;
      margin: 20px 5px;
    }

    .entity_body {
      margin: 20px 5px;

      .btn {
        margin-bottom: 5px;
      }
    }
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 992px) {
    .list-group-item {
      .entity_header, .entity_body {
        margin: 20px 20px;
      }
    }
  }
}
