/*** header styles ***/

$header_font_size: 1.3em;
$bg_grey: #e7e7e7;
$reduced_nav_height: 50px;
$reduced_img_height: 42px;
$opened_dropdown_bg: #f3f3f3;
$transition_time: 0.5s;

header {
  nav {
    height: $reduced_nav_height;
    background: $bg_grey !important;
    box-shadow: 0px 3px 5px #888888;
    transition: height $transition_time;

    .navbar-brand {
      padding: 4px 0px 4px 8px;
      transition: padding $transition_time;

      img {
        height: $reduced_img_height;
        transition: height $transition_time;
      }
    }

    .navbar-toggle {
      margin-top: 9px;
    }

    .dropdown.open {
      .dropdown-toggle {
        background-color: $opened_dropdown_bg !important;
        @media (min-width: 768px) {
          background-color: inherit !important;
        }
        color: #000 !important;
      }
    }

    #header_menu {
      background-color: #fff;
      @media (max-width: 767px) {
        border-top: 1px solid #aaa;
      }

      li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #414141;
        
        &.header_link {
          transition: padding $transition_time;
        }

        &:hover {
          color: #000;
        }
      }
    }

    &.reduced {
      height: $reduced_nav_height;

      .navbar-brand {
        img {
          height: $reduced_img_height;
        }
      }

      #header_menu {
        @media (min-width: 768px) {
          li a.header_link {
            padding-top: 15px;
            padding-bottom: 14px;
          }
        }
      }
    }
  }

  #contacts {
    .h3, .h4 {
      text-align: center;
    }

    .modal-body {
      padding-top: 0px !important;
    }

    .contact {
      padding-bottom: 15px;
      border-bottom: 1px solid #dadada;
    }

    .contact_header {
      padding-bottom: 15px;
      padding-top: 15px;
    }

    #dzer_map, #nn_map {
      height: 300px;
    }
  }
}

@media (min-width: 768px) {
  header {
    nav {
      height: 72px;
      background: $bg_grey !important;
      background: linear-gradient(45deg, $bg_grey 35%, white 50%) !important;

      .navbar-brand {
        img {
          height: 64px;
        }
      }

      #header_menu {
        background: inherit;

        li a {
          font-size: $header_font_size;

          &.header_link {
            padding-top: 26px;
            padding-bottom: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header {
    nav {
      height: 92px;

      #header_menu {
        li a {
          &.header_link {
            padding-top: 36px;
            padding-bottom: 35px;
          }
        }
      }

      .navbar-brand {
        img {
          height: 84px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    nav {
      background: linear-gradient(45deg, $bg_grey 45%, white 55%) !important;
    }
  }
}
