body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

main {
  background-color: #fff;
  padding-bottom: 40px;

  #flash_for_user {
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    width: 100%;
    top: 65px;
  }

  #page_header {
    border-bottom: 1px solid #eee;
    padding-top: 95px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
  }

  .heading {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;

    .divider {
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 45px;
      width: 50px;
      height: 3px;
      background-color: brown;
    }

    h1 {
      margin-top: 0;
    }

    h2 {
      opacity: 0.7;
    }
  }

  #jumbotron {
    background-image: url('../images/bg/jumbotron_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .jumbotron {
      margin-top: 200px;
      background-color: rgba(255, 255, 255, 0.5) !important;
      text-align: center;
    }

    a {
      margin-bottom: 3px !important;
    }
  }

  #works {
    img {
      margin: auto;
      max-width: none;
    }

    @media (max-width: 767px) {
      .container {
        padding: 0px;
      }
    }
  }

  #services {
    .service {
      background-color: #4a2323;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 0 !important;
      overflow: hidden;
      height: 300px;

      img {
        width: 100%;
        display: block;
        margin: auto;
        opacity: 1.0;
        transition: opacity 0.5s;
      }
    }

    .service_caption {
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 10%;
      width: 80%;
      color: #fff;
      text-shadow: 0 1px 1px #000;

      .divider {
        background-color: #fff;
        margin: auto;
        width: 50px;
        height: 1px;
        text-shadow: 0 1px 1px #000;
      }

      .section_title {
        margin-top: 15px;
      }
    }
  }

  #works {
    img {
      height: 300px;
    }
  }

  .subsection {
    p, li {
      font-size: 1.2em;
    }

    .thumbnail {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }

  #contacts {
    .h3, .h4 {
      text-align: center;
    }

    .contact {
      padding-bottom: 15px;

      .social_contact {
        color: inherit;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    #real_contacts {
      .contact:first-child {
        margin-top: 40px;
      }
    }

    .contact_map {
      height: 300px;
    }
  }

  #call_measurer {
    .modal-header {
      h3, p {
        text-align: center;
      }
    }

    .modal-body {
      padding: 20px;

      textarea {
        height: 36px;
        transition: height 0.5s;
      }
    }
  }

  #phone {
    position: fixed;
    bottom: 5px;
    left: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px !important;
    color: #000;
  }
}

@media (min-width: 768px) {
  main {
    #flash_for_user {
      top: 87px;
    }

    #page_header {
      padding-top: 125px;
    }

    .subsection {
      .photo_left, .photo_right {
        width: 40%;
      }

      .photo_left {
        float: left;
        margin-right: 40px;
      }

      .photo_right {
        float: right;
        margin-left: 40px;
      }
    }

    #services {
      .service {
        img {
          height: 150%;
          width: auto;
        }
      }
    }

    #works {
      img {
        height: 400px;
      }
    }
  }
}

@media (min-width: 992px) {
  main {
    #flash_for_user {
      top: 107px;
    }

    #page_header {
      padding-top: 145px;
    }

    .subsection {
      .photo_left, .photo_right {
        width: 50%;
      }
    }

    #services {
    }

    #works {
      img {
        height: 500px;
      }
    }

    #contacts {
      #real_contacts {
        .contact {
          margin-top: 40px;
        }
      }
    }
  }
}
