body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

main {
  background-color: #fff;
  padding-bottom: 40px;

  #page_header {
    background: url('../images/bg/under_header.png') bottom center no-repeat;
    padding-top: 95px;
    padding-bottom: 50px;
    margin: 0;
    text-align: center;
  }

  .heading {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 20px;

    .divider {
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 45px;
      width: 50px;
      height: 3px;
      background-color: brown;
    }

    h1 {
      margin-top: 0;
    }

    h2 {
      opacity: 0.7;
    }
  }

  #jumbotron {
    background-image: url('../images/bg/jumbotron_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .jumbotron {
      margin-top: 200px;
      background: inherit !important;
      text-align: center;
    }

    a {
      margin-bottom: 3px !important;
    }
  }

  #works {
    img {
      margin: auto;
      max-width: none;
    }

    @media (max-width: 767px) {
      .container {
        padding: 0px;
      }
    }
  }

  #services {
    img {
      min-width: 100%;
      opacity: 1.0;
      transition: opacity 0.5s;
    }

    .service {
      padding: 0 !important;
      overflow: hidden;
      height: 300px;
    }

    .service_caption {
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 10%;
      width: 80%;
      color: #fff;
      text-shadow: 0 1px 1px #000;
    }
  }

  #works {
    img {
      height: 300px;
    }
  }

  .subsection {
    p, li {
      font-size: 1.2em;
    }

    .thumbnail {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }

  #contacts {
    margin-top: 50px;

    .h3, .h4 {
      text-align: center;
    }

    .contact {
      padding-bottom: 15px;

      .social_contact {
        color: inherit;
        margin-right: 15px;
        margin-left: 15px;
      }
    }

    #real_contacts {
      .contact:first-child {
        margin-top: 40px;
      }
    }

    .contact_map {
      height: 300px;
    }
  }

  #call_measurer {
    .well {
      margin: 20px;

      form {
        input, textarea {
          margin-bottom: 15px;
        }

        textarea {
          height: 35px;
          transition: height 0.5s;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    #page_header {
      padding-top: 117px;
    }

    .subsection {
      .photo_left, .photo_right {
        width: 40%;
      }

      .photo_left {
        float: left;
        margin-right: 40px;
      }

      .photo_right {
        float: right;
        margin-left: 40px;
      }
    }

    #services {
    }

    #works {
      img {
        height: 400px;
      }
    }

    #contacts {
      margin-top: 72px;
    }
  }
}

@media (min-width: 992px) {
  main {
    #page_header {
      padding-top: 137px;
    }

    .subsection {
      .photo_left, .photo_right {
        width: 50%;
      }
    }

    #services {
    }

    #works {
      img {
        height: 500px;
      }
    }

    #contacts {
      margin-top: 92px;

      #real_contacts {
        .contact {
          margin-top: 40px;
        }
      }
    }
  }
}
