body {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

main {
  .heading {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
    background-image: url('../images/bg/over_heading.png');
    background-position: center top;
    background-repeat: no-repeat;

    h1, h2 {
      margin-top: 0;
    }

    h2 {
     opacity: 0.7;
    }
  }

  #jumbotron {
    background-image: url('../images/bg/jumbotron_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .jumbotron {
      margin-top: 200px;
      background: inherit !important;
      text-align: center;
    }
  }

  #services {
    padding-bottom: 0;

    img {
      min-width: 100%;
      opacity: 1;
      transition: opacity 0.5s;
    }

    .col-md-4 {
      padding: 0 !important;
      overflow: hidden;
      height: 200px;
    }

    .service_caption {
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 10%;
      width: 80%;
      color: #fff;
      text-shadow: 0 1px 1px #000;
    }
  }

  #customers {
    background-color: #e7e7e7;
    padding-bottom: 40px;

    .customer_logo {
      text-align: center;
      overflow: hidden;
      opacity: 0.7;
      transition: opacity 0.5s;
      &:hover {
        opacity: 1;
      }
    }

    img {
      min-width: 100%;
      margin-top: 35%;
    }
  }

  #call_form {
    background: linear-gradient(to bottom right, #b96835, #bf8418);
    padding-bottom: 40px;
    color: #fff;

    input, textarea {
      margin-bottom: 15px;
    }
  }
}

//!!!!!DELETEME!!!!!!!!!
#iamnotready {
  margin-top: 100px;
  text-align: center;
}
//!!!!!DELETEME!!!!!!!!!
