{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1 class="page-header">Интернет контакт - {{ contact.title }}</h1>

    {# delete later #}
    {{ include('admin/partials/edit_category.html.twig', { 'object': contact }) }}
{% endblock %}

